<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-12 brand-header">
                        <h1 class="page-heading-1-l">
                            <span style="margin-right: 6px;"
                                >Paracetamol
                                <small class="h1-subtitle" title="Dosage Form"
                                    >Tablet</small
                                ></span
                            >
                        </h1>
                        <div title="Generic Name">
                            <a
                                href="https://medex.com.bd/generics/860/paracetamol"
                                >Paracetamol</a
                            >
                        </div>
                        <div title="Strength">
                            500 mg
                        </div>
                        <div title="Manufacturer">
                            Bengal drugs Ltd.
                        </div>
                    </div>
                    <div class="col-xs-12 packages-wrapper">
                        <h4>Pack Size &amp; Price:</h4>
                        <div class="package-container">
                            500's pack :

                            <span class="package-pricing">
                                ৳ 300.00

                                <span class="unit-price"
                                    >(Unit Price : ৳ 0.60)</span
                                >
                            </span>
                        </div>
                    </div>

                    <div class="brand-extra col-xs-12">
                        <div class="similar-brands inline-block">
                            <a
                                href="https://medex.com.bd/generics/860/paracetamol/brand-names"
                                class="btn btn-teal prsinf-btn"
                                title="View all Brand Names of Paracetamol"
                            >
                                Other Brand Names
                            </a>
                        </div>

                        <div class="inline-block">
                            <button
                                type="button"
                                class="btn expand-btn btn-teal prsinf-btn"
                                data-toggle="modal"
                                data-target="#exampleModalCenter"
                                title="Prescribing Information for Paracetamol"
                            >
                                Innovator's Monograph
                            </button>
                            <!-- Modal -->
                            <div
                                class="modal fade delete-modal in"
                                id="exampleModalCenter"
                                tabindex="-1"
                                role="dialog"
                                aria-hidden="true"
                                style="display: none;"
                            >
                                <div
                                    class="modal-dialog modal-dialog-centered modal-lg"
                                >
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button
                                                type="button"
                                                class="close"
                                                data-dismiss="modal"
                                            >
                                                <span aria-hidden="true"
                                                    >×</span
                                                >
                                            </button>
                                            <h4
                                                class="modal-title"
                                                id="myModalLabel"
                                            >
                                                Prescribing Monograph for
                                                Paracetamol
                                            </h4>
                                        </div>
                                        <div class="modal-body center-align">
                                            <a
                                                href="https://medex.com.bd/attachments/9TeSbAK6cScMfIrCQI0SYvYdmHKphl/paracetamol-tablet-prescribing-information"
                                                class="btn expand-btn btn-teal prsinf-child-btn"
                                                target="_blank"
                                                title="Prescribing Information for Paracetamol Tablet"
                                            >
                                                Tablet
                                            </a>
                                            <a
                                                href="https://medex.com.bd/attachments/bXzKrLuZXx4IkpSd8tvO0wHnj9jICG/paracetamol-suppository-prescribing-information"
                                                class="btn expand-btn btn-teal prsinf-child-btn"
                                                target="_blank"
                                                title="Prescribing Information for Paracetamol Suppository"
                                            >
                                                Suppository
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="ac-header">Indications</h4>
                    </div>
                    <div class="col-xs-12 ac-body">
                        Paracetamol is indicated in:<br />
                        <ul>
                            <li>Fever,common cold and influenza.</li>
                            <li>
                                Headache,toothache, earache, bodyache, myalgia,
                                dysmenorrhoea, neuralgia and sprains.
                            </li>
                            <li>
                                Pain of colic, back pain, post-operative pain,
                                postpartum pain, chronic pain of cancer,
                                inflammatory pain, and post-vaccination pain and
                                fever of children.
                            </li>
                            <li>
                                Rheumatism and osteoarthritic pain &amp;
                                stiffness of joints in fingers, hips, knees,
                                wrists, elbows, feet, ankles and top &amp;
                                bottom of the spine.
                            </li>
                        </ul>
                        <div class="cnsdiscl">
                            <a
                                href="https://medex.com.bd/news/104/danger-of-taking-medication-without-doctors-advice"
                                target="_blank"
                            >
                                <sub>
                                    * চিকিৎসকের পরামর্শ অনুযায়ী ঔষধ সেবন করুন
                                </sub>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <h4 class="ac-header">Therapeutic Class</h4>
                    </div>
                    <div class="col-xs-12 ac-body">Non opioid analgesics</div>

                    <div class="col-xs-12">
                        <h4 class="ac-header">Pharmacology</h4>
                    </div>
                    <div class="col-xs-12 ac-body">
                        Paracetamol exhibits analgesic action by peripheral
                        blockage of pain impulse generation. It produces
                        antipyresis by inhibiting the hypothalamic
                        heat-regulating centre. Its weak anti-inflammatory
                        activity is related to inhibition of prostaglandin
                        synthesis in the CNS.<br /><br />Paracetamol
                        (Acetaminophen) is thought to act primarily in the CNS,
                        increasing the pain threshold by inhibiting both
                        isoforms of cyclooxygenase, COX-1, COX-2, and COX-3
                        enzymes involved in prostaglandin (PG) synthesis. Unlike
                        NSAIDs, acetaminophen does not inhibit cyclooxygenase in
                        peripheral tissues and, thus, has no peripheral
                        anti-inflammatory affects. While aspirin acts as an
                        irreversible inhibitor of COX and directly blocks the
                        enzyme's active site, studies have found that
                        acetaminophen indirectly blocks COX, and that this
                        blockade is ineffective in the presence of peroxides.
                        This might explain why acetaminophen is effective in the
                        central nervous system and in endothelial cells but not
                        in platelets and immune cells which have high levels of
                        peroxides. Studies also report data suggesting that
                        acetaminophen selectively blocks a variant of the COX
                        enzyme that is different from the known variants COX-1
                        and COX-2. This enzyme is now referred to as COX-3. Its
                        exact mechanism of action is still poorly understood,
                        but future research may provide further insight into how
                        it works. The antipyretic properties of acetaminophen
                        are likely due to direct effects on the heat-regulating
                        centres of the hypothalamus resulting in peripheral
                        vasodilation, sweating and hence heat dissipation.
                    </div>

                    <div class="col-xs-12">
                        <h4 class="ac-header">Dosage &amp; Administration</h4>
                    </div>
                    <div class="col-xs-12 ac-body">
                        Tablet:<br />
                        <ul>
                            <li>
                                <strong>Adult</strong>: 1-2 tablets every 4 to 6
                                hours up to a maximum of 4 gm (8 tablets) daily.
                            </li>
                            <li>
                                <strong>Children (6-12 years)</strong
                                >:&nbsp;&frac12; to 1 tablet 3 to 4 times daily.
                                For long term treatment it is wise not to exceed
                                the dose beyond 2.6 gm/day.
                            </li>
                        </ul>
                        Extended Release Tablet:<br />
                        <ul>
                            <li>
                                <strong
                                    >Adults &amp; Children over 12 years</strong
                                >: Two tablets, swallowed whole, every 6 to 8
                                hours (maximum of 6 tablets in any 24 hours).The
                                tablet must not be crushed.
                            </li>
                        </ul>
                        Syrup/Suspension:<br />
                        <ul>
                            <li>
                                <strong>Children under 3 months</strong>: 10
                                mg/kg body weight (reduce to 5 mg/kg if
                                jaundiced) 3 to 4 times daily.
                            </li>
                            <li>
                                <strong>3 months to below 1 yea</strong>r:
                                &frac12; to 1 teaspoonful 3 to 4 times daily.
                            </li>
                            <li>
                                <strong>1-5 years</strong>: 1 -2 teaspoonful 3
                                to 4 times daily.
                            </li>
                            <li>
                                <strong>6-12 years</strong>: 2-A teaspoonful 3
                                to 4 times daily.
                            </li>
                            <li>
                                <strong>Adults</strong>: 4-8 teaspoonful 3 to 4
                                times daily.
                            </li>
                        </ul>
                        Suppository:<br />
                        <ul>
                            <li>
                                <strong>Children 3-12 months</strong>: 60-120
                                mg,4 times daily.
                            </li>
                            <li>
                                <strong>Children 1-5 years</strong>: 125-250 mg
                                4 times daily.
                            </li>
                            <li>
                                <strong>Children 6-12 years</strong>: 250-500 mg
                                4 times daily.
                            </li>
                            <li>
                                <strong
                                    >Adults &amp; children over 12 years</strong
                                >: 0.5-1 gm 4 times daily.
                            </li>
                        </ul>
                        Paediatric Drop:<br />
                        <ul>
                            <li>
                                <strong>Children Upto 3 months</strong>: 0.5 ml
                                (40 mg)
                            </li>
                            <li>
                                <strong>4 to 11 months</strong>: 1.0 ml (80 mg)
                            </li>
                            <li>
                                <strong>7 to 2 years</strong>: 1.5 ml (120
                                mg).&nbsp;Do not exceed more than 5 dose daily
                                for a maximum of 5 days.
                            </li>
                        </ul>
                        <div class="cnsdiscl">
                            <a
                                href="https://medex.com.bd/news/104/danger-of-taking-medication-without-doctors-advice"
                                target="_blank"
                            >
                                <sub>
                                    * চিকিৎসকের পরামর্শ অনুযায়ী ঔষধ সেবন করুন
                                </sub>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <h4 class="ac-header">Interaction</h4>
                    </div>
                    <div class="col-xs-12 ac-body">
                        May reduce serum levels with anticonvulsants (e.g.
                        phenytoin, barbiturates, carbamazepine). May enhance the
                        anticoagulant effect of warfarin and other coumarins
                        with prolonged use. Accelerated absorption with
                        metoclopramide and domperidone. May increase serum
                        levels with probenecid. May increase serum levels of
                        chloramphenicol. May reduce absorption with
                        colestyramine within 1 hr of admin. May cause severe
                        hypothermia with phenothiazine.
                    </div>

                    <div class="col-xs-12">
                        <h4 class="ac-header">Contraindications</h4>
                    </div>
                    <div class="col-xs-12 ac-body">
                        Paracetamol is contraindicated in patients with severe
                        renal function impairment and hepatic disease (Viral
                        Hepatitis). Contraindicated in known sensitivity to
                        Paracetamol
                    </div>

                    <div class="col-xs-12">
                        <h4 class="ac-header">Side Effects</h4>
                    </div>
                    <div class="col-xs-12 ac-body">
                        Side effects of paracetamol are usually mild, though
                        haematological reactions including thrombocytopenia,
                        leucopenia, pancytopenia, neutropenia, and
                        agranulocytosis have been reported. Pancreatitis, skin
                        rashes, and other allergic reactions occur occasionally.
                    </div>

                    <div class="col-xs-12">
                        <h4 class="ac-header">Pregnancy &amp; Lactation</h4>
                    </div>
                    <div class="col-xs-12 ac-body">
                        Paracetamol is safe in all stage of pregnancy and
                        lactation.
                    </div>

                    <div class="col-xs-12">
                        <h4 class="ac-header">Precautions</h4>
                    </div>
                    <div class="col-xs-12 ac-body">
                        Paracetamol should be given with caution to patients
                        with impaired kidney or liver function. Paracetamol
                        should be given with care to patients taking other drugs
                        that affect the liver.
                    </div>

                    <div class="col-xs-12">
                        <h4 class="ac-header">Storage Conditions</h4>
                    </div>
                    <div class="col-xs-12 ac-body">
                        <strong>Tablet, Syrup &amp; Suspension</strong>: Keep in
                        a cool &amp; dry place, protected from light and
                        moisture.<br /><br /><strong>Suppository</strong>: Store
                        below 25&deg; C. Keep all medicines out of the reach of
                        children.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
